@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #F5F3FF;
  margin: 15px;
}

.base {
  display: contents;
}

.menu {
  background-color: #0F172A;
  border: none;
  color: #F5F3FF;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
}

.destac {
  color: #6366F1;
}


.nav-links {
  width: 70%;
  display: none;
  background-color: #0F172A;  
}

.nav-links a {
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  padding: 1rem 0.5rem;
  color: #F5F3FF;
  width: 100px;
  text-decoration: none;
  font-size: 18px;
}

:has(.menu[aria-expanded="true"]) .nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 0%;
  width: 100%;
  
}

html.dark {
  background-color: #0F172A;
  color: #F5F3FF;
}

.dark .menu {
  background-color: #F5F3FF;
  color: #0F172A;
}

.dark .nav-links {
  background-color: #F5F3FF;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #F5F3FF;
  border-radius: 30px;
  color: #0F172A;
  
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  color: #F5F3FF;
  background-color: #0F172A;
}

.dark a {
  color: #0F172A;
}

.worddes {
  font-weight: bold;
  background: linear-gradient(90deg, #6366f1, #ec4899, #facc15); /* azul-indigo → rosa → amarillo */
  -webkit-background-clip: text; /* recorta el background al texto */
  -webkit-text-fill-color: transparent; /* hace el texto transparente para que se vea el gradiente */
  display: inline-block;
}

@media screen and (min-width: 870px) {
  .nav-links {
    display: flex;
    justify-content: center;
    gap: 5rem; 
  }

  .base {
    display: flex;
  }

  .menu {
    display: none;
  }
}
